@import url('https://fonts.googleapis.com/css2?family=Kodchasan:wght@200&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Kodchasan', sans-serif;
  background-color: #3F6289;
  color: #fffcf7;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.main-menu {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 1rem;
  background-color: #003457;
}

.main {
  max-width: 90%;
  padding: 1rem;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  margin: 2rem auto;
}

.main1 {
  max-width: 90%;
  padding: 1rem;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  margin: 2rem auto;
  margin-top: 2rem;
}

.Message {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #3F6289;
  border-radius: 5px;
  margin: 10px 0;
}

.sender {
  margin-right: 10px;
  font-weight: bold;
}

.time {
  margin-right: 10px;
  color: #2b2b2b;
}

.message-text {
  margin-right: 10px;
}

.tochka {
  font-size: 1.5rem;
  color: #000000;
}


.Profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #3F6289;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.profile-header {
  text-align: center;
  margin-bottom: 20px;
}

.profile-image {
  width: 90px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
}

.profile-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.profile-posts {
  flex: 2;
  padding: 20px;
  background-color: #3F6289;
  border-radius: 5px;
}

.profile-friends {
  flex: 1;
  padding: 20px;
  background-color: #003457;
  border-radius: 5px;
}

.Post {
  background-color: #3F6289;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  margin: 2rem auto;
}

.Post .name-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Post h1 {
  font-size: 1.5rem;
  margin: 0;
}

.Post span {
  font-size: 1rem;
  color: #000000;
}

.Post .second_part {
  margin-top: 1rem;
}

.Post p {
  font-size: 1.2rem;
}

.post_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 2rem;
  margin-top: 2rem;
}

.Intresting {
  background-color: #3F6289;
  width: 60%;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  margin: 2rem auto;
}

.Intresting h1 {
  font-size: 1.5rem;
  margin: 0;
  color: #fffcf7;
}

.Intresting p {
  font-size: 1.2rem;
  color: #fffcf7;
}

.Notifications {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.Notif {
  background-color: #3F6289;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  margin: 2rem auto;
}

.Notif .name-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Notif h1 {
  font-size: 1.5rem;
  margin: 0;
  color: #fffcf7;
}

.Notif span {
  font-size: 1rem;
  color: #fffcf7;
}

.Notif .second_part {
  margin-top: 1rem;
}

.Notif p {
  font-size: 1.2rem;
  color: #fffcf7;
}

.create {
  text-align: center;
  max-width: 600px;
  height: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #3F6289;
}

.create input {
  width: 94%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.input_2 { 
  height: 40%;
}

.create button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #007BFF;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.create button:hover {
  background-color: #0056b3;
}

@media (max-width: 480px) {
  .App {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 100%;
  }
  .main-menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 10px;
    background-color: #003457;
  }
}